/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

h1 {
    color: #333;
}

.search-container {
    display: flex;
    margin-bottom: 20px;
}

#searchInput {
    flex-grow: 1;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

#searchButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
}

#searchButton:hover {
    background-color: #0056b3;
}

.results-container {
    margin-top: 20px;
}

.movie {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.movie img {
    width: 100px;
    margin-right: 20px;
    border-radius: 4px;
}

.movie-info {
    flex-grow: 1;
}

.movie-info h2 {
    margin: 0;
    color: #333;
}

.movie-info p {
    margin: 5px 0;
    color: #666;
}